
- if current_user.present?
  %h2 My Contributions
  - if @own_contributions.length == 0
    %li
      %h5 Empty

- unless @own_contributions.length == 0
  %table.table.table-hover
    %thead
      %tr
        %th Contribution
        %th Associated Collection
        %th Abstract
    %tbody
      - @own_contributions.each do |contrib|
        %tr
          %td
            %a{:href => "#{contrib_show_path(contrib.id)}"} #{contrib.name}
          %td
            %a{:href => "#{collection_path(contrib.collection.name)}"} #{contrib.collection.name}
          %td #{contrib.description}


- if current_user.present?
  %h2 Shared Contributions
  - if @shared_contributions.length == 0
    %li
      %h5 Empty

- unless @shared_contributions.length == 0
  %table.table.table-hover
    %thead
      %tr
        %th Contribution
        %th Associated Collection
        %th Owner
        %th Abstract
    %tbody
      - @shared_contributions.each do |contrib|
        %tr
          %td
            %a{:href => "#{contrib_show_path(contrib[:id])}"} #{contrib[:name]}
          %td
            %a{:href => "#{collection_path(contrib[:collection_name])}"} #{contrib[:collection_name]}
          %td #{contrib[:owner]}
          %td #{contrib[:description]}
